@model Elhoot_HomeDevices.ViewModels.MadunaateViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.name</h1>

<div>
    <h4>Madunaate</h4>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>التاريخ</th>
                <th>دفع </th>
                <th>استرجاع</th>
                <th>الحاله</th>
                <th>تاريخ دفع القسط</th>
                <th> مكان دفع القسط</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var date in Model.madunaatViewModels)
            {
                <tr>

                    <td>@date.Date.ToString()</td>

                    <td><a asp-action="Madunatprocess"
                           asp-route-MadunID="@date.MadunID"
                           asp-route-date="@date.Date.ToString("yyyy-MM-dd")"
                        asp-controller="Elmadyounat" class="btn btn-sm btn-primary
                  @GetDisabledClass(date.IsSelected)">   دفع الفايده الشهريه للداين  </a>
                 </td>

                    <td>
                        <a asp-action="Madunatprocess1" asp-route-MadunID="@date.MadunID"
                           asp-controller="Elmadyounat"  
                        asp-route-date="@date.Date.ToString("yyyy-MM-dd")"
                        class="btn btn-sm btn-danger 
                     @GetDisabledClass1(date.IsSelected) "> استرجاع دفع الفايده الشهريه للداين</a>
                    </td>

                    <td>@date.Statuse</td>
                    <td>
                        <input class="form-control" type="date"
                               data-val="true" data-val-required="The DateFree field is required"
                               name="DateFree" value="@date.DateFree?.ToString("yyyy-MM-dd")"
                                
                               fdprocessedid="cv2kwb" onchange="updateDate('@date.MadunID', '@date.Date.ToString("yyyy-MM-dd")', this.value)" />
                    </td>
                    <td>
                        <input class="form-control" type="text"
                               data-val="true" data-val-required="The DateFree field is required"
                               name="Paypalce" value="@date.Paypalce"
                               fdprocessedid="cv2kwb" onchange="updateDate2('@date.MadunID', '@date.Date.ToString("yyyy-MM-dd")', this.value)" />
                    </td>

                    <!-- Other table cells -->



                </tr>
                @functions
                {
                string GetDisabledClass1(bool date1)
                {
                    if (date1 == false)
                    {
                        return "disabled"; // Return the "disabled" class to disable the button

                    }
                    else
                    {
                        return "enable"; // Return an empty string if the button should not be disabled                        }
                    }
                }
                string GetDisabledClass(bool date1)
                {
                    if (date1 == true)
                    {
                        return "disabled"; // Return the "disabled" class to disable the button
                    }
                    else
                    {
                        return "enable"; // Return an empty string if the button should not be disabled                        }
                    }
                }

            }
            }


        </tbody>

    </table>
    <script>


        function updateDate(MadunID, date, newDate) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDateFree", "Elmadyounat")',
                data: { MadunID: MadunID, date: date, newDate: newDate },
                success: function (data) {
                    // Update the input field value

                    console.log('Date updated successfully');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }


        function updateDate2(MadunID, date, newDate) {
            $.ajax({
                type: 'POST',
                url: '@Url.Action("UpdateDateFree1", "Elmadyounat")',
                data: { MadunID: MadunID, date: date, newDate: newDate },
                success: function (data) {
                    // Update the UI if needed
                    console.log('Date updated successfully');
                },
                error: function (xhr, status, error) {
                    console.error(error);
                }
            });
        }




    </script>
</div>
<div>
  
    <a asp-action="Index">Back to List</a>
</div>
